<a href="https://colab.research.google.com/github/jlacy1/Jaylen_DTSC3020_Fall2025/blob/main/Assignment2_jwl0158.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Here is a list with 3 fruits
fruits = ["Orange","Canalope","Pinapple"]
print(fruits)

#Print each item separately
print(fruits[0])
print(fruits[1])
print(fruits[2])

['Orange', 'Canalope', 'Pinapple']
Orange
Canalope
Pinapple

In [ ]:
#Here is a list with 4 names and the first name was changed with a different one
Names = ["John","Jeffery","Ashley","Ximena"]
Names[0] = 'Issac'
print(Names)

['Issac', 'Jeffery', 'Ashley', 'Ximena']

In [ ]:
#A list with 5 Vehicles and a new vehicle added at the end.
Vehicles = ["Moterbike","Bus","Car","Truck","Van"]
Vehicles.append('Scooter')
print(Vehicles)

['Moterbike', 'Bus', 'Car', 'Truck', 'Van', 'Scooter']

In [ ]:
#A list with 6 foods and then one food removed from the list
Foods = ["Pasta","Pizza","Soup","Salad","Sandwich"]
Foods.remove("Sandwich")
print(Foods)

['Pasta', 'Pizza', 'Soup', 'Salad']

In [ ]:
#A list with 4 Cities sorted in alphabetical order
Cities = ["Aubrey","Prosper","Denton","St.Petersburg"]
Cities.sort()
print(Cities)

['Aubrey', 'Denton', 'Prosper', 'St.Petersburg']

In [ ]:
#A list with 3 Animals with a for loop to print each animal
Animals = ["Wolf", "Tiger", "Giraffe"]
for animal in Animals:
  print (animal)

Wolf
Tiger
Giraffe

In [3]:
#A list with numbers 1-5 multiplied by 2 with the use of a for loop
Numbers = [1,2,3,4,5]
for num in Numbers:
  result = num * 2
  print(result)

2
4
6
8
10

In [ ]:
#A list with 6 friends split in half
Friends = ["Jacob","David","London","Justin", "Kendall", "Eli"]
#First 3 friends
print(Friends[0:3])
#Last 3 friends
print(Friends[3:6])

['Jacob', 'David', 'London']
['Justin', 'Kendall', 'Eli']

In [ ]:
#Create a list from 1-10 with range()
#We do (1,11) to make up for the zero index.
for value in range(1,11):
  print(value)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Create a list with the squares of numbers from 1-5
squares = []
for value in range(1, 5):
 square = value ** 2
 squares.append(square)
print(squares)

[1, 4, 9, 16]