<a href="https://colab.research.google.com/github/jlacy1/Jaylen_DTSC3020_Fall2025/blob/main/jwl0158_Assignment4_(ch_6).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [ ]:
#Here we have a dictionary named "grades" which holds the name and grade which would be considered Items
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

#We will set lowest and make it min to target the lowest grade
lowest = min(grades.values())

#We will run a for look to find the lowest value out of the dictionary
for key, value in grades.items():
  if value == lowest:
    print(key)

Omid

Exercise 2: print names of students who registered for any course containing "Data"

In [ ]:
#Provided dictionary named courses with the items of a name and course names connected to that name.
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}


for key, value in courses.items():
  #This will check to see if any course values contain the word "Data"
  if any("Data" in course for course in value):
    print(key)

Sara
Reza

Exercise 3: Print titles of books that are not available.

In [ ]:
#The provided dictionary which will hold the items of a library.
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

#For loop to go and find the library items. Then we follow that with a if to find the value is not available.
for key, value in library.items():
  if not value['available']:
    print(key)

AI Basics
Math Advanced

Exercise 4: Print names of students who are registered for more than 2 courses.

In [ ]:
#Provided dictionary named registrations that holds items of student names and thier courses.
registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}
#for to go to the keys and values and then a if len to find the length and see if there are more than 2 courses.
for keys, value in registrations.items():
  if len(value) > 2:
    print(key,value)

Lina ['Biology', 'Chemistry', 'Math']
Lina ['History', 'Physics', 'Geography', 'Art']

Exercise 5: Calculate and print the average grade of the class.

In [7]:
#We have a provided dictionary named grades with items that hold keys to the names and then the grades as values.
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

#here we define average and set it to 0.
average = 0

#for loop with value in grades and also add the average and value to get sum.
for key, value in grades.items():
    average += value

average /= len(grades)  # divide sum by number of students
print(average)

18.1

Exercise 6: Count and print the number of students registered for "Python".

In [20]:
#Courses dictionary with items that contain students name for keys and then their classes as values.
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}
#Defined the count to count how many people have Python in their values.
count = 0
#for loop to go straight to values and count how many times it sees Python.
for value in courses.values():
    if 'Python' in value:
        count += 1

print("The number of students registered for python is", count)

The number of students registered for python is 3

Exercise 7: Print titles of books with more than 200 pages.

In [22]:
#Dictionary named book_pages that holds the book names as a key and the amount of pages as values
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}

#Here we perform a for to go look into each of the keys values and if it is more than 200 pages the name will output.
for key, value in book_pages.items():
  if value > 200:
    print(key)

AI Basics
Math Advanced
Data Science

Exercise 8: Print each student's name and number of registered courses.

In [24]:
#Dictionary named courses which holds students names as keys and their courses as values
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

#for loop that will check each key and then go to items and see how many classes are in the values with the help of len(value)
for key, value in courses.items():
  print(key," is registered in" , len(value), "courses" )

Ali  is registered in 2 courses
Sara  is registered in 2 courses
Reza  is registered in 2 courses
Lina  is registered in 2 courses
Omid  is registered in 1 courses